<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="es.jormagar.bottomNavigation" android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25"/>
	<application android:icon="@drawable/appicon" android:label="BottomNavigation" android:name="BottomnavigationApplication" android:debuggable="false" android:theme="@style/Theme.Material" android:resizeableActivity="true">
		<activity android:name=".BottomnavigationActivity" android:label="@string/app_name" android:theme="@style/Theme.Material" android:configChanges="keyboardHidden|orientation|fontScale|screenSize|smallestScreenSize|screenLayout|density">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="org.appcelerator.titanium.TiActivity" android:configChanges="keyboardHidden|orientation|fontScale|screenSize|smallestScreenSize|screenLayout|density"/>
		<activity android:name="org.appcelerator.titanium.TiTranslucentActivity" android:configChanges="keyboardHidden|orientation|fontScale|screenSize|smallestScreenSize|screenLayout|density" android:theme="@style/Theme.Titanium.Translucent"/>
		<activity android:name="ti.modules.titanium.ui.android.TiPreferencesActivity" android:configChanges="screenSize|density"/>
		<provider android:name="org.appcelerator.titanium.io.TiFileProvider" android:authorities="es.jormagar.bottomNavigation.tifileprovider" android:exported="false" android:grantUriPermissions="true"/>
	</application>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
</manifest>
